.connect-wallet-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  padding-right: 20px;
  &:hover {
    background-color: #be1e73;
  }
  .connect-status {
    position: absolute;
    svg {
      color: #be1e73;
    }
  }
  & > img {
    width: 35px;
    height: 35px;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.connect-wallet {
  width: 150px;
  height: 40px !important;
  background: #93054f !important;
  color: white !important;
  border-radius: 5px !important;
  margin: 0px 10px 0px 0px;
  padding: 0px !important;

  &:hover {
    color: rgb(175, 169, 169) !important;
  }

  @media (max-width: 768px) {
    display: none;
  }

  @media (max-width: 1300px) {
    width: 100px;
    padding: 0.1rem 0.1rem !important;
    height: 35px !important;
    font-size: 12px !important;
  }

}

$white: #ffffff;

.wallet-sidebar {
  top: 0px;
  right: 0px;
  left: auto;
  width: 238px;

  .ant-drawer-mask {
    opacity: 0;
  }

  .ant-drawer-content-wrapper {
    box-shadow: none;

    .ant-drawer-header {
      display: none;
    }

    .ant-drawer-content {
      background: rgba($white, 0.08);
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);

      .ant-drawer-body {
        display: flex;
        flex-direction: column;
        padding: 20px 40px;
        .menu-close {
          background: none;
          border: 0;
          text-align: right;
          box-shadow: none;
          border: 0;
          .icon {
            fill: $white;
          }
        }
      }

      .wallet-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100vh;
        margin-top: 90px;

        & > span {
          font-size: 13px;
          font-weight: 700;
        }
        .wallet-item {
          display: flex;
          border-radius: 10px;
          gap: 30px;
          align-items: center;
          cursor: pointer;

          .item-text {
            font-size: 15px;
            font-weight: 400;
          }
          .item-image {
            width: 25px;
            fill-opacity: 0.5;
          }
          img:nth-child(2) {
            display: none
          }
          &:hover {
            .item-text {
              font-weight: 700;
            }
            img:nth-child(1) {
              display: none;
            }
            img:nth-child(2) {
              display: block;
            }
            & + .wallet-item-splitter {
              border-bottom: 1px solid #ffffff;
            }
          }
        }
        .wallet-item-splitter {
          width: 100%;
          height: 2px;
          border-bottom: 1px solid #ffffff12;
        }
      }
    }
  }
}

.container-with-connect-wallet {
  max-width: 100% !important;
}