@import "../../assets/scss/variables.scss";

.itt-wrapper {
  position: relative;
  z-index: 0;
  background: rgb(84, 13, 86);
  background: -moz-linear-gradient(
    187deg,
    rgba(84, 13, 86, 1) 0%,
    rgba(34, 9, 37, 1) 24%,
    rgba(8, 5, 16, 1) 100%
  );
  background: -webkit-linear-gradient(
    187deg,
    rgba(84, 13, 86, 1) 0%,
    rgba(34, 9, 37, 1) 24%,
    rgba(8, 5, 16, 1) 100%
  );
  background: linear-gradient(
    187deg,
    rgba(84, 13, 86, 1) 0%,
    rgba(34, 9, 37, 1) 24%,
    rgba(8, 5, 16, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#540d56",endColorstr="#080510",GradientType=1);
  .banner-section {
    position: relative;
    overflow: hidden;
    .social-media {
      position: absolute;
      right: 3%;
      top: 80px;
      z-index: 2;
      width: 50px;
      @media screen and (max-width: 1290px) {
        top: 80px;
      }
      .ant-btn {
        background: none;
        border: 0;
        margin-top: 10px;
        .icon {
          fill: $white;
          width: 25px;
        }
      }
    }
    .about-banner {
      position: absolute;
      width: 100vw;
      height: 100%;
      background-position: bottom center;
    }
    .banner-img {
      position: absolute;
      width: 100%;
    }
    .row {
      min-height: 850px;
      align-items: center;
      @media screen and (max-width: 991px) {
        margin-top: 80px;
      }
    }
    .banner-left {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 2;
      h1 {
        font-size: 3.5rem;
        font-weight: normal;
        margin-bottom: 1rem;
        @media screen and (max-width: 1600px) {
          font-size: 3rem;
        }
        @media screen and (max-width: 1290px) {
          font-size: 2.4rem;
          padding-right: 40px;
        }
        span {
          font-weight: bold;
        }
      }
      p {
        font-size: 18px;
        line-height: 1.6;
        text-transform: uppercase;
      }
      .left-bottom {
        margin-top: 4rem;
        margin-bottom: 3rem;
        display: flex;
        align-items: flex-end;
        p {
          color: rgba(#e664ab, 0.8);
          text-transform: inherit;
          margin-bottom: 0;
          font-weight: 500;
          font-family: "Cerco DEMO";
        }
        h2 {
          color: $primary-color;
          font-size: 5rem;
          font-weight: bold;
          margin-bottom: 0;
          display: flex;
          line-height: 1;
          @media screen and (max-width: 1600px) {
            font-size: 4rem;
          }
          span {
            font-size: 1.6rem;
          }
        }
        .icon {
          width: 100%;
          fill: $white;
          margin-bottom: 1rem;
          max-width: 350px;
        }
      }
    }
    .banner-right {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 2;
      h1 {
        font-size: 3.5rem;
        font-weight: normal;
        margin-bottom: 1rem;
        @media screen and (max-width: 1600px) {
          font-size: 2.8rem;
        }
        span {
          font-weight: bold;
        }
      }
      p {
        font-size: 18px;
        line-height: 1.6;
        text-transform: uppercase;
      }
      .right-upper {
        p {
          color: $white;
          text-transform: inherit;
          margin-bottom: 0;
          font-weight: normal;
        }
        h2 {
          color: $white;
          font-size: 4.5rem;
          font-weight: bold;
          margin-bottom: 0;
          line-height: 1;
          display: flex;
          @media screen and (max-width: 1600px) {
            font-size: 3.8rem;
          }
          @media screen and (max-width: 991px) {
            font-size: 2.5rem;
          }
          span {
            font-size: 1.6rem;
          }
        }
      }
      .right-bottom {
        margin-top: 3rem;
        p {
          color: $white;
          text-transform: inherit;
          margin-bottom: 0;
          font-weight: normal;
        }
        h2 {
          color: $white;
          font-size: 5rem;
          font-weight: bold;
          margin-bottom: 0;
          display: flex;
          align-items: center;
          line-height: 1;
          @media screen and (max-width: 1600px) {
            font-size: 4rem;
          }
          span {
            font-size: 1.6rem;
            font-weight: normal;
            margin-left: 15px;
          }
        }
      }
      .build-arrow {
        position: absolute;
        bottom: -8%;
        width: 30px;
        right: 18%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @media screen and (max-width: 991px) {
          bottom: 26px;
        }
        .icon {
          width: 32px;
          fill: $white;
          margin-bottom: 8px;
        }
        span {
          width: 10px;
          font-size: 10px;
          display: block;
          white-space: nowrap;
          transform: rotate(90deg);
          text-transform: uppercase;
        }
      }
    }
    .slick-slider {
      .slick-dots {
        bottom: 70px;
        max-width: 800px;
        margin-left: auto;
        right: 6vw;

        @media screen and (max-width: 1400px) {
          right: 0px;
        }
        @media screen and (max-width: 1200px) {
          right: -6vw;
        }
        @media screen and (max-width: 767px) {
          bottom: 50px;
          right: 0px;
        }
        ul {
          padding-left: 0;
          display: inline-block;
          margin-left: auto;
          @media screen and (max-width: 1600px) {
            margin-bottom: 0;
          }
          @media screen and (max-width: 520px) {
            display: flex;
            padding-left: 15px;
            padding-right: 15px;
          }
        }
        li {
          width: auto;
          margin: 0;
          .thumb-col-main {
            width: auto;
            border: 0;
            padding: 0;
            border-bottom: 1px solid $white;
          }
          .thumb-col {
            text-align: left;
            font-size: 23px;
            padding-right: 3rem;
            padding-bottom: 0.8rem;

            @media screen and (max-width: 1400px) {
              font-size: 18px;
            }
            @media screen and (max-width: 767px) {
              font-size: 14px;
            }
            @media screen and (max-width: 576px) {
              padding-right: 0.6rem;
            }
            span {
              display: block;
              font-size: 20px;
              margin-bottom: 5px;
              @media screen and (max-width: 767px) {
                font-size: 12px;
              }
            }
          }
          .first-thumb {
            display: none;
          }
          &.slick-active {
            .thumb-col {
              position: relative;
              &::after {
                content: "";
                width: 100%;
                height: 2px;
                display: block;
                bottom: -1px;
                position: absolute;
                background: $primary-color;
              }
            }
          }
          &:last-child {
            .thumb-col {
              padding-right: 0;
            }
          }
        }
      }
      .slick-arrow {
        position: absolute;
        z-index: 2;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        background: $white;
        bottom: 4%;
        top: auto;
        .icon {
          fill: $secondary-color;
          width: 8px;
        }
        &::before {
          display: none;
        }
        &.slick-prev {
          left: 16.5%;
        }
        &.slick-next {
          left: calc(16.5% + 50px);
          right: auto;
        }
        &.slick-disabled {
          width: 40px;
          height: 40px;
          pointer-events: none;
          .icon {
            width: 8px;
          }
        }
      }
      .slick-slide {
        height: 100vh;
        @media screen and (max-width: 767px) {
          height: auto;
        }
        .slider-card {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 4rem;
          .slider-left {
            width: 50%;
            padding-left: 10%;
            h3 {
              font-size: 40px;
              margin-bottom: 0;
              max-width: 220px;
              line-height: 1;
            }
            .designation {
              display: flex;
              align-items: center;
              font-size: 20px;
              line-height: 1;
              margin-bottom: 5px;
              .ant-divider {
                border-block-start: 2px solid $primary-color;
                max-width: 23px;
                min-width: 23px;
                margin-right: 15px;
              }
            }
            p {
              font-size: 15px;
              line-height: 1.4;
            }
            .social-icons {
              display: flex;
              align-items: center;
              padding-top: 15px;
              .icon {
                fill: $white;
                width: 25px;
                margin-right: 15px;
              }
            }
          }
          .slider-right {
            width: 50%;
            img {
              width: 100%;
            }
          }
        }
        &.slick-active {
          .about-banner {
            background-size: cover;
          }
        }
        &:first-child {
          .arrow-action {
            button {
              &:first-child {
                opacity: 0.7;
                pointer-events: none;
              }
            }
          }
        }
        &:last-child {
          .arrow-action {
            button {
              &:last-child {
                opacity: 0.7;
                pointer-events: none;
              }
            }
          }
        }
      }
    }
    .arrow-action {
      display: flex;
      margin-top: 20px;
      padding: 0px;
      display: none;

      @media screen and (max-width: 767px) {
        margin-top: 20px;
        margin-bottom: 100px;
      }
      button {
        z-index: 2;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        background: $white;
        bottom: 4%;
        top: auto;
        border: 0;
        margin-right: 15px;
        cursor: pointer;
        transition: all ease-in 0.1s;
        &:hover {
          transform: scale(1.1);
        }
        .icon {
          fill: $secondary-color;
          width: 8px;
        }
        &::before {
          display: none;
        }
      }
    }
    .stage-wrapper {
      display: flex;
      flex-direction: column;
      margin-top: 13vw;
      @media screen and (max-width: 767px) {
        margin-top: 150px;
      }
      .stage-main {
        display: flex;
        width: 100%;
        gap: 10px;
        @media screen and (max-width: 767px) {
          //  flex-direction: column;
        }
        .stage-left {
          display: flex;
          flex-direction: column;
          position: relative;
          z-index: 2;
          flex-grow: 1;

          @media screen and (max-width: 767px) {
            padding: 8px 10px 0px 0px;
            margin-top: 0px;
          }
          h1 {
            font-size: 42px;
            line-height: 1.1;
            font-weight: 100;
            margin-bottom: 0px;
            color: #ffffff99;

            @media screen and (max-width: 1290px) {
              font-size: 30px;
              padding-right: 40px;
              margin-top: 10px;
            }
            @media screen and (max-width: 767px) {
              font-size: 24px;
              padding-right: 10px;
            }
          }
          .desc {
            font-size: 40px;
            font-weight: 700;
            line-height: 150%;
            max-width: 400px;
            width: 70%;
            @media screen and (max-width: 1290px) {
              font-size: 28px;
              max-width: 350px;
            }
            @media screen and (max-width: 767px) {
              font-size: 24px;
              width: 100%;
            }
          }
          .application {
            font-size: 28px;
            font-weight: 700;
            color: #aac3e1;
            letter-spacing: 0.05em;
            margin-top: 85px;

            @media screen and (max-width: 1320px) {
              font-size: 21px;
            }
            @media screen and (max-width: 1100px) {
              margin-top: 40px;
              font-size: 21px;
            }
            @media screen and (max-width: 767px) {
              font-size: 14px;
            }
          }
          .selection {
            display: flex;
            align-items: center;
            .number {
              font-size: 100px;
              font-weight: 800;
              color: #0bc8e2;

              @media screen and (max-width: 1290px) {
                font-size: 75px;
              }
              @media screen and (max-width: 767px) {
                font-size: 50px;
              }
            }
            .selection-desc {
              font-size: 28px;
              font-weight: 700;
              color: #0bc8e2;

              @media screen and (max-width: 1290px) {
                font-size: 21px;
              }
              @media screen and (max-width: 767px) {
                font-size: 14px;
              }
            }
            .indicator {
              flex-grow: 1;
              height: 2px;
              background: linear-gradient(
                269.92deg,
                rgba(255, 255, 255, 0.25) 58.57%,
                rgba(255, 255, 255, 0) 113.52%
              );

              margin-left: 48px;
              position: relative;
              &::after {
                width: 6px;
                height: 6px;
                background: #fff9f9;
                border-radius: 50%;
                content: "";
                position: absolute;
                right: -5px;
                top: -2px;
              }
              @media screen and (max-width: 767px) {
                margin-left: 10px;
              }
            }
          }
          .project-list-button {
            display: flex;
            margin-top: 60px;
            gap: 39px;
            padding: 12px 16px 12px 63px;
            width: 230px;
            cursor: pointer;
            align-items: center;
            border-radius: 10px;
            background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 0)
              ),
              linear-gradient(91.12deg, #3e1840 8.12%, #28142e 83.77%);

            @media screen and (max-width: 1900px) {
              margin-top: 100px;
            }
            @media screen and (max-width: 1590px) {
              margin-top: 60px;
            }
            @media screen and (max-width: 1400px) {
              margin-top: 35px;
            }
            @media screen and (max-width: 1200px) {
              margin-top: 10px;
            }
            @media screen and (max-width: 767px) {
              width: 180px;
              padding: 12px 16px 12px 43px;

            }
            span {
              font-size: 20px;
              font-weight: 300;
              color: white;

              @media screen and (max-width: 767px) {
                font-size: 12px;
              }
            }
          }
          button {
            margin-top: 22px;
            width: 220px;
            height: 30px;
            background: #93054f;
            border: 0px;
            font-size: 17px;
            font-weight: 700;
            @media screen and (max-width: 767px) {
              margin-top: 5px;
              width: 120px;
              font-size: 10px;
            }
          }
        }
        .stage-right {
          flex-grow: 1;
          z-index: 2;
          padding: 0px 50px;
          @media screen and (max-width: 767px) {
            padding: 0px;
          }
          .processing {
            margin-top: 150px;

            @media screen and (max-width: 1290px) {
              margin-top: 50px;
            }
            @media screen and (max-width: 767px) {
              margin-top: 110px;
            }
            span {
              font-size: 18px;
              font-weight: 700;
              color: #aac7e2;

              @media screen and (max-width: 1290px) {
                font-size: 14px;
              }
              @media screen and (max-width: 767px) {
                font-size: 12px;
              }
            }
          }
          .processing-desc {
            display: flex;
            align-items: center;
            gap: 10px;
            span:nth-child(1) {
              font-size: 72px;
              font-weight: 800;

              @media screen and (max-width: 1290px) {
                font-size: 60px;
              }
              @media screen and (max-width: 767px) {
                font-size: 48px;
              }
            }
            span:nth-child(2) {
              font-size: 28px;
              font-weight: 700;

              @media screen and (max-width: 1290px) {
                font-size: 23px;
              }
              @media screen and (max-width: 767px) {
                font-size: 18px;
              }
            }
          }
          .world {
            margin-top: 30px;
            font-size: 18px;
            font-weight: 700;
            color: #aac7e2;

            @media screen and (max-width: 1290px) {
              font-size: 14px;
            }
            @media screen and (max-width: 767px) {
              font-size: 12px;
            }
          }
          .world-desc {
            display: flex;
            align-items: center;
            gap: 10px;
            span:nth-child(1) {
              font-size: 72px;
              font-weight: 800;
              @media screen and (max-width: 767px) {
                font-size: 48px;
              }
            }
            span:nth-child(2) {
              font-size: 28px;
              font-weight: 700;
              @media screen and (max-width: 767px) {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
    .intro-wrapper {
      width: 100%;
      color: white;
      height: 100vh;
      overflow-y: auto;
      scroll-snap-type: y mandatory;
      position: relative;
      background-size: cover;

      .page-wrapper {
        scroll-snap-align: start;
        scroll-snap-stop: always;

        width: 100%;
        height: 100vh;
        display: flex;
        // background-size: cover;
        position: relative;

        h1 {
          font-size: 100px;
          font-weight: 600;
          line-height: 86px;
          max-width: 34vw;

          @media screen and (max-width: 1400px) {
            font-size: 80px;
            line-height: 80px;
          }
          @media screen and (max-width: 1200px) {
            font-size: 60px;
            line-height: 60px;
          }
          @media screen and (max-width: 767px) {
            font-size: 50px;
            line-height: 50px;
            max-width: 100%;
          }
        }
        p {
          margin-top: 43px;
          font-size: 16px;
          line-height: 200%;
          max-width: 34vw;

          @media screen and (max-width: 1400px) {
            font-size: 14px;
            line-height: 150%;
          }
          @media screen and (max-width: 767px) {
            margin-top: 10px;
            max-width: 100%;
          }
        }

        &.page-1 {
          padding-top: 10vw;
          padding-left: 16vw;

          @media screen and (max-width: 767px) {
            padding-top: 90px;
            padding-left: 20px;
            flex-direction: column;
          }
          .page-1-left {
          }
          .page-1-right {
            img {
              position: absolute;
              right: 0;
              top: 0;
              transform: translate(0, -10%);
              @media screen and (max-width: 1400px) {
                transform: translate(5%, -15%);
                scale: 0.9;
              }
              @media screen and (max-width: 1200px) {
                transform: translate(20%, -30%);
                scale: 0.7;
              }
              @media screen and (max-width: 767px) {
                width: 300%;
                transform: translate(20%, 45%);
              }
            }
          }
        }
        &.page-2 {
          padding-top: 16vw;
          padding-left: 53vw;
          @media screen and (max-width: 767px) {
            padding-top: 90px;
            padding-left: 20px;
            gap: 10px;
            flex-direction: column;
          }
          .page-2-left {
            img {
              position: absolute;
              left: 0;
              bottom: 0px;
              transform: translate(-2%, 44%);

              @media screen and (max-width: 1400px) {
                transform: translate(-6%, 49%);
                scale: 0.9;
              }
              @media screen and (max-width: 1200px) {
                transform: translate(-12%, 55%);
                scale: 0.8;
              }
              @media screen and (max-width: 1000px) {
                transform: translate(-25%, 65%);
                scale: 0.7;
              }
              @media screen and (max-width: 767px) {
                width: 300%;
                transform: translate(-35%, 65%);
              }
            }
          }
          .page-2-right {
          }
        }
        &.page-3 {
          padding-top: 15vw;
          padding-left: 15vw;
          @media screen and (max-width: 767px) {
            padding-top: 90px;
            padding-left: 20px;
            flex-direction: column;
          }
          .page-3-left {
          }
          .page-3-right {
            img {
              position: absolute;
              left: 83px;
              bottom: 0px;

              @media screen and (max-width: 1400px) {
                transform: translate(-6%, 5%);
                scale: 0.9;
              }
              @media screen and (max-width: 1200px) {
                transform: translate(-10%, 8%);
                scale: 0.8;
              }
              @media screen and (max-width: 1000px) {
                transform: translate(-20%, 25%);
                scale: 0.7;
              }
              @media screen and (max-width: 767px) {
                width: 200%;
                transform: translate(-53%, 0);
              }
            }
          }
        }
        &.page-4 {
          padding-top: 17vw;
          padding-left: 50vw;

          @media screen and (max-width: 767px) {
            padding-top: 90px;
            padding-left: 20px;
            flex-direction: column;
          }
          .page-4-left {
            position: absolute;
            left: 0px;
            bottom: 0px;
            transform: translate(10%, -15%);
            scale: 0.95;

            @media screen and (max-width: 1400px) {
              transform: translate(10%, -10%);
              scale: 0.8;
            }
            @media screen and (max-width: 1200px) {
              transform: translate(10%, -5%);
              scale: 0.7;
            }
            @media screen and (max-width: 1000px) {
              transform: translate(-10%, 10%);
              scale: 0.55;
            }
            img {
              @media screen and (max-width: 767px) {
                width: 200%;
                transform: translate(-33%, 0);
              }
            }
          }
          .page-4-right {
          }
        }

        .page-number {
          position: absolute;
          bottom: 35px;
          right: 5vw;
          h1 {
            font-size: 100px;
            line-height: 100px;
            font-weight: 400;
            margin-bottom: 11px;
            @media screen and (max-width: 767px) {
              font-size: 50px;
              line-height: 50px;
              margin-bottom: 5px;
            }
          }
          .page-more {
            display: flex;
            gap: 27px;
            align-items: center;
            @media screen and (max-width: 767px) {
              gap: 10px;
            }
            span {
              font-size: 16px;
              @media screen and (max-width: 767px) {
                font-size: 12px;
              }
            }
            .page-button {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 45px;
              height: 45px;
              border-radius: 50%;
              background: linear-gradient(
                  155.28deg,
                  rgba(217, 217, 217, 0.04) 15.4%,
                  rgba(1, 7, 29, 0.37) 86.21%
                ),
                linear-gradient(
                  162.65deg,
                  rgba(255, 248, 248, 0.23) 11.9%,
                  rgba(255, 248, 248, 0) 95.54%
                );
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              cursor: pointer;

              &:hover {
                box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.25);
              }
            }
          }
        }
      }
      .intro-dots {
        position: fixed;
        display: flex;
        flex-direction: column;
        gap: 7px;
        top: 50%;
        left: 95vw;
        transform: translate(0, -50%);

        .intro-dot {
          width: 7px;
          height: 7px;
          background: white;
          opacity: 0.5;
          border-radius: 50%;
          cursor: pointer;
          &:hover {
            box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.25);
          }
        }
        .intro-dot.selected {
          opacity: 1;
          box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.25);
          backdrop-filter: blur(2px);
        }
      }
      .social-icon-list {
        max-width: 350px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        left: 10vw;
        bottom: 55px;
        @media screen and (max-width: 767px) {
          display: none;
        }
        .icon {
          margin-right: 10px;
          fill: rgba($white, 0.5);
          width: 30px;
          @media screen and (max-width: 1650px) {
            width: 26px;
          }
        }
      }
    }
  }

  .map-section {
    padding: 5rem 0 14rem 0;
    position: relative;

    .right-numbers {
      position: absolute;
      right: 0;
      bottom: 10%;
      ul {
        padding-left: 0;
        li {
          font-size: 28px;
          display: flex;
          align-items: center;
          position: relative;
          padding: 0.8rem 3rem 0.8rem 1.8rem;
          font-weight: bold;
          // transform: translateX(-118px);
          transition: all ease-in 0.1s;
          cursor: pointer;
          @media screen and (max-width: 767px) {
            font-size: 14px;
            padding: 0.2rem 0.1rem 0.2rem 0.8rem;
          }
          &:hover {
            &:before {
              width: 100%;
            }
          }
          &::before {
            content: " ";
            width: 30px;
            height: 3px;
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            transition: all ease-in 0.1s;
          }
          span {
            overflow: hidden;
            font-size: 12px;
            font-weight: normal;
            margin-left: 20px;
            margin-right: 20px;
            @media screen and (max-width: 767px) {
              font-size: 8px;
            }
          }
          &:nth-child(1) {
            &::before {
              background: linear-gradient(
                270deg,
                rgba(0, 240, 255, 0.7) 0%,
                rgba(42, 53, 158, 0.7) 33.85%,
                rgba(86, 245, 255, 0.7) 72.92%,
                rgba(120, 86, 255, 0.7) 97.92%
              );
            }
          }
          &:nth-child(2) {
            &::before {
              background: linear-gradient(
                270deg,
                rgba(0, 255, 25, 0.7) 0%,
                rgba(44, 158, 42, 0.7) 47.4%,
                rgba(86, 255, 103, 0.7) 100%
              );
            }
          }
          &:nth-child(3) {
            &::before {
              background: linear-gradient(
                270deg,
                rgba(204, 255, 0, 0.7) 0%,
                rgba(250, 0, 0, 0.7) 47.4%,
                rgba(255, 122, 0, 0.7) 100%
              );
            }
          }
          &:nth-child(4) {
            &::before {
              background: linear-gradient(
                270deg,
                rgba(166, 231, 227, 0.7) 0%,
                rgba(0, 54, 247, 0.7) 61.46%,
                rgba(157, 102, 227, 0.7) 98.96%
              );
            }
          }
          &:nth-child(5) {
            &::before {
              background: linear-gradient(
                270deg,
                rgba(250, 255, 0, 0.7) 0%,
                rgba(43, 221, 40, 0.7) 61.46%,
                rgba(255, 124, 2, 0.7) 100%
              );
            }
          }
          &.selected {
            // transform: translateX(0);
            &::before {
              width: 100%;
            }
          }
        }
      }
    }
    .bottom-left-details {
      display: flex;
      max-width: 850px;
      @media screen and (max-width: 767px) {
        flex-direction: column;
      }
      .numbers {
        font-size: 4.5rem;
        text-align: center;
        padding: 10 2rem 0 0;
        min-width: 150px;
        @media screen and (max-width: 991px) {
          font-size: 2.5rem;
          min-width: 90px;
          max-width: 100px;
        }
        .color-bar {
          width: 100%;
          height: 5px;
          display: block;
          background: transparent
            linear-gradient(90deg, #187b93 0%, #44d3c3 100%) 0% 0% no-repeat
            padding-box;
          margin-bottom: 0.5rem;
        }
      }
      .right-content {
        padding-top: 10px;
        padding-left: 30px;
        h4 {
          font-size: 2.2rem;
          text-transform: uppercase;
          margin-bottom: 0.6rem;
          @media screen and (max-width: 991px) {
            font-size: 1.7rem;
          }
        }
        p {
          font-size: 1rem;
          line-height: 1.5;
          @media screen and (max-width: 991px) {
            font-size: 0.8rem;
          }
        }
      }
      &.details1 {
        .numbers {
          .color-bar {
            background: transparent
              linear-gradient(90deg, #187b93 0%, #44d3c3 100%) 0% 0% no-repeat
              padding-box;
          }
        }
      }
      &.details2 {
        .numbers {
          .color-bar {
            background: transparent
              linear-gradient(90deg, #721d4b 0%, #c73c86 100%) 0% 0% no-repeat
              padding-box;
          }
        }
      }
      &.details3 {
        .numbers {
          .color-bar {
            background: transparent
              linear-gradient(90deg, #866c33 0%, #f4c867 100%) 0% 0% no-repeat
              padding-box;
          }
        }
      }
    }
    .map-wrapper {
      position: relative;
      text-align: center;
      img {
        width: 100%;
      }
      .project-center {
        height: 100%;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        .popup {
          position: absolute;
          max-width: 550px;
          width: 100%;
          z-index: 2;
          top: 0;
          right: 0;
          img {
            width: 100%;
          }
          .popup-inner {
            position: relative;
            .icon {
              fill: $white;
              width: 16px;
              cursor: pointer;
              position: absolute;
              top: 18px;
              left: 18px;
              z-index: 2;
            }
          }
        }
        .points {
          transition: all ease-in 0.1s;
          cursor: pointer;

          @media screen and (max-width: 767px) {
            font-size: 1rem;
          }

          &:hover {
            transform: scale(1.1);
          }
          span {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            display: inline-block;
            cursor: pointer;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              inset: 0;
              border-radius: 50%;
              padding: 2px;
              -webkit-mask: linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
              -webkit-mask-composite: xor;
              mask-composite: exclude;
            }
          }
          div {
            font-size: 50px;
            font-weight: 700;
            color: rgba($white, 0.16);
            position: absolute;
          }
          &.point-1 {
            position: absolute;
            left: 78%;
            top: 60%;
            span::before {
              background: linear-gradient(
                180deg,
                #00cffd 0%,
                #7190fe 51.04%,
                #0009e6 97.4%
              );
            }
            div {
              transform: translate(-100%, -100%);
            }
            @media screen and (max-width: 767px) {
              left: 61%;
              top: 44%;
            }
          }
          &.point-2 {
            position: absolute;
            left: 80%;
            top: 62%;
            span::before {
              background: linear-gradient(
                180deg,
                #05fd00 0%,
                #144f13 51.04%,
                #a2eb09 97.4%
              );
            }
            div {
              transform: translate(10%, 0);
            }
            @media screen and (max-width: 767px) {
              left: 61%;
              top: 44%;
            }
          }
          &.point-3 {
            position: absolute;
            left: 49%;
            top: 62%;
            span::before {
              background: linear-gradient(
                180deg,
                #f8fd00 0%,
                #ff2e00 51.04%,
                #ff9900 97.4%
              );
            }
            div {
              transform: translate(10%, 0);
            }
            @media screen and (max-width: 767px) {
              left: 61%;
              top: 44%;
            }
          }
          &.point-4 {
            position: absolute;
            left: 44%;
            top: 19%;
            span::before {
              background: linear-gradient(
                180deg,
                #00ffff 0%,
                #00ffa3 51.04%,
                #ffffff 97.4%
              );
            }
            div {
              transform: translate(-100%, -100%);
            }
            @media screen and (max-width: 767px) {
              left: 61%;
              top: 44%;
            }
          }
          &.point-5 {
            position: absolute;
            left: 47%;
            top: 58%;
            span::before {
              background: linear-gradient(
                180deg,
                #f8fd00 0%,
                #7a420e 51.04%,
                #a2eb09 97.4%
              );
            }
            div {
              transform: translate(-100%, -100%);
            }
            @media screen and (max-width: 767px) {
              left: 61%;
              top: 44%;
            }
          }
          &.point-6 {
            position: absolute;
            left: 78%;
            top: 60%;
            span::before {
              background: linear-gradient(
                180deg,
                #00fd0a 0%,
                #133c1e 51.04%,
                #23fc00 97.4%
              );
            }
            div {
              transform: translate(-100%, -100%);
            }
            @media screen and (max-width: 767px) {
              left: 61%;
              top: 44%;
            }
          }
          &.point-7 {
            position: absolute;
            left: 44%;
            top: 19%;
            span::before {
              background: linear-gradient(
                180deg,
                #00cffd 0%,
                #7190fe 51.04%,
                #be6ffd 97.4%
              );
            }
            div {
              transform: translate(-100%, -100%);
            }
            @media screen and (max-width: 767px) {
              left: 61%;
              top: 44%;
            }
          }
        }
      }
    }
  }
}

.project-sidebar {
  top: 0px;
  right: 0px;
  left: auto;
  width: 300px;

  .ant-drawer-mask {
    opacity: 0;
  }

  .ant-drawer-content-wrapper {
    box-shadow: none;

    .ant-drawer-header {
      display: none;
    }

    .ant-drawer-content {
      background: none;

      .ant-drawer-body {
        display: flex;
        flex-direction: column;
        padding: 0px;
        position: relative;
        .menu-close {
          position: absolute;
          right: 0px;
          top: 20px;
          background: none;
          border: 0;
          text-align: right;
          box-shadow: none;
          z-index: 99;
          border: 0;
          .icon {
            fill: $white;
          }
        }
      }
      .project-list {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;

        &::before {
          position: absolute;
          content: "";
          width: 210px;
          height: 100%;
          backdrop-filter: blur(10px);
          z-index: 0;
        }

        .title {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 60px;
          backdrop-filter: blur(50px);
          width: 210px;

          span {
            font-size: 20px;
            font-weight: 500;
            @media screen and (max-width: 767px) {
              font-size: 12px;
            }
          }
        }
        .item {
          display: flex;
          flex-direction: column;
          padding: 25px 30px 0 30px;
          cursor: pointer;
          overflow: hidden;
          backdrop-filter: blur(10px);
          z-index: 1;

          img {
            width: 150px;
          }
          span {
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            color: #ffffff80;
          }
          .splitter {
            width: 100%;
            height: 1px;
            border-bottom: 1px solid #ffffff80;
            &.outer {
              margin-left: -20px;
              width: calc(100% + 40px);
              border-bottom: 2px solid #ffffff1a;
              margin-top: 12px;
            }
          }
          &:hover {
            img {
              width: 250px;
            }
            .splitter {
              &.outer {
                display: none;
              }
            }
            padding-bottom: 20px;
          }
        }
      }
    }
  }
}
