@import "../../../assets/scss/variables.scss";

.green-protocol-wrapper {
  position: relative;
  z-index: 0;
  background: rgb(84, 13, 86);
  background: -moz-linear-gradient(
    187deg,
    rgba(84, 13, 86, 1) 0%,
    rgba(34, 9, 37, 1) 24%,
    rgba(8, 5, 16, 1) 100%
  );
  background: -webkit-linear-gradient(
    187deg,
    rgba(84, 13, 86, 1) 0%,
    rgba(34, 9, 37, 1) 24%,
    rgba(8, 5, 16, 1) 100%
  );
  background: linear-gradient(
    187deg,
    rgba(84, 13, 86, 1) 0%,
    rgba(34, 9, 37, 1) 24%,
    rgba(8, 5, 16, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#540d56",endColorstr="#080510",GradientType=1);
  .book-section {
    // margin-top: -100px;
    position: absolute;
    z-index: 10;
    width: 100%;
    transform: translateY(-10%);
    @media screen and (max-width: 1024px) {
      // margin-top: 30px;
    }
    img {
      width: 100%;
    }
    .stf__parent {
      margin: auto;
      min-height: 306px !important;
      @media screen and (max-width: 767px) {
        min-height: 200px !important;
        height: 200px !important;
      }
    }
    .stf__wrapper {
      padding-bottom: 0px !important;
    }
    .demoPage {
      // background: $white;
      color: $text-primary;
      min-height: 306px;

      @media screen and (max-width: 991px) {
        width: 100% !important;
        min-width: 100% !important;
        left: 0 !important;
        right: 0 !important;
        height: 200px !important;
      }
      .arrow-right {
        position: absolute;
        right: 30px;
        bottom: 28px;
        cursor: pointer;
        @media screen and (max-width: 991px) {
          display: block;
          right: 15px;
          bottom: 15px;
        }
        .icon {
          width: 32px;
          transform: rotate(-90deg);
          @media screen and (max-width: 991px) {
            width: 26px;
          }
        }
      }
      .arrow-right-sm {
        position: absolute;
        right: 30px;
        bottom: 28px;
        cursor: pointer;
        display: none;
        @media screen and (max-width: 991px) {
          display: block;
          right: 15px;
          bottom: 15px;
        }
        .icon {
          width: 32px;
          transform: rotate(-90deg);
          @media screen and (max-width: 991px) {
            width: 26px;
          }
        }
      }
      .arrow-left {
        position: absolute;
        left: 30px;
        top: 22px;
        cursor: pointer;
        @media screen and (max-width: 991px) {
          left: 15px;
          top: 15px;
        }
        .icon {
          width: 32px;
          transform: rotate(90deg);
          @media screen and (max-width: 991px) {
            width: 26px;
          }
        }
      }
      .arrow-left-sm {
        position: absolute;
        left: 15px;
        top: 15px;
        cursor: pointer;
        display: none;
        @media screen and (max-width: 991px) {
          display: block;
        }
        .icon {
          width: 32px;
          transform: rotate(90deg);
          @media screen and (max-width: 991px) {
            width: 26px;
          }
        }
      }
      .bookpage-inner-left {
        height: 100%;
        display: flex;
        flex-direction: column;
        .row {
          display: flex;
          justify-content: space-between;
          margin: 0;
          width: 100%;
          height: 100%;
          flex-wrap: nowrap;
          .left-section {
            padding: 65px 10px 0px 30px;
            background: #005E15;
            width: 100%;
            @media screen and (max-width: 767px) {
              padding: 33px 0px 0px 10px;
            }
            h2 {
              color: white;
              font-size: 40px;
              font-weight: 700;
              margin-bottom: 6px;
              line-height: 1.1;
              @media screen and (max-width: 767px) {
                font-size: 30px;
              }
            }
            img {
              margin-top: 11px;
              margin-left: 20px;
              width: auto;
            }
            .ant-tabs {
              .ant-tabs-ink-bar {
                background: $text-primary;
              }
              .ant-tabs-nav {
                margin-top: 45px;
                margin-bottom: 15px;
              }
              .ant-tabs-nav-wrap {
                width: 100%;
                .ant-tabs-nav-list {
                  width: 98%;
                  justify-content: space-between;
                  .ant-tabs-tab {
                    @media screen and (max-width: 576px) {
                      margin: 0 10px 0 0;
                      font-size: 13px;
                    }
                  }
                  .ant-tabs-tab-btn {
                    color: #160d20;
                  }
                }
              }
            }
            &.notfirst {
              padding: 83px 0px 0px 54px;
              @media screen and (max-width: 767px) {
                padding: 83px 0px 0px 10px;
              }
              img {
                margin-top: 10px;
              }
            }
          }
          .right-section {
            &.notfirst {
              margin-top: 57px;
              text-align: right;
            }
            img {
              width: 138px;
              height: 100%;
              @media screen and (max-width: 767px) {
                width: 100%;
              }
            }
            span {
              font-size: 10px;
              font-weight: 300;
            }
          }
        }
      }
      .bookpage-inner-right {
        padding: 31px 41px 0 53px;
        height: 100%;
        background: white;
        
        @media screen and (max-width: 576px) {
          padding: 56px 20px 0 20px;
        }
        .first {
          display: flex;
          gap: 50px;
          flex-wrap: nowrap;
          height: 100%;
          @media screen and (max-width: 767px) {
            gap: 10px;
          }
          .left-col {
            max-width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            .left-upper {
              h4 {
                color: $text-primary;
                font-size: 18px;
                @media screen and (max-width: 767px) {
                  font-size: 16px;
                }
              }
              p {
                font-size: 15px;
                font-weight: 300;
                text-align: justify;

                @media screen and (max-width: 767px) {
                  font-size: 12px;
                }
                ul {
                  padding: 0;
                }
              }
            }
            .left-bottom {
              display: flex;
              align-items: flex-start;
              position: absolute;
              bottom: -19px;

              h1 {
                font-size: 125px;
                color: $text-primary;
                font-weight: 700;
                line-height: 1;
                font-family: "Roboto";
                margin-bottom: 0;
                @media screen and (max-width: 1500px) {
                  font-size: 8rem;
                }
                @media screen and (max-width: 767px) {
                  font-size: 100px;
                }
              }
              .small-head {
                margin-top: 20px;
                p {
                  font-size: 12px;
                  margin-bottom: 0;
                  white-space: nowrap;
                  @media screen and (max-width: 767px) {
                    font-size: 8px;
                  }
                }
                h4 {
                  font-size: 20px;
                  color: $text-primary;
                  margin-bottom: 0;
                  @media screen and (max-width: 767px) {
                    font-size: 15px;
                  }
                }
              }
            }
          }
          .right-col {
            max-width: 50%;
            img {
              width: 150px;
              @media screen and (max-width: 767px) {
                width: 100%;
              }
            }
            h1 {
              color: black;
              font-size: 18px;
              font-weight: 700;
              margin-top: 30px;
              @media screen and (max-width: 767px) {
                font-size: 15px;
                margin-top: 0px;
              }
            }
            p {
              font-family: Roboto;
              font-size: 15px;
              font-weight: 300;
              @media screen and (max-width: 767px) {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
  .map-section {
    padding: 5rem 0 14rem 0;
    position: relative;
    overflow: hidden;
    .blur-circle1 {
      background: transparent
        linear-gradient(142deg, #7e384f 0%, #934d74 48%, #0c395b 100%) 0% 0%
        no-repeat padding-box;
      opacity: 0.09;
      filter: blur(50px);
      width: 600px;
      height: 600px;
      position: absolute;
      bottom: -25%;
      left: 0;
      display: inline-block;
      z-index: 0;
    }
    .blur-circle2 {
      background: transparent
        linear-gradient(142deg, #7e384f 0%, #934d74 48%, #0c395b 100%) 0% 0%
        no-repeat padding-box;
      opacity: 0.09;
      filter: blur(50px);
      width: 600px;
      height: 600px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      display: inline-block;
      z-index: 0;
      bottom: -25%;
    }
    .blur-circle3 {
      background: transparent
        linear-gradient(142deg, #7e384f 0%, #934d74 48%, #0c395b 100%) 0% 0%
        no-repeat padding-box;
      opacity: 0.09;
      filter: blur(50px);
      width: 600px;
      height: 600px;
      position: absolute;
      bottom: -25%;
      right: 0;
      margin: auto;
      display: inline-block;
      z-index: 0;
    }
    .header-title {
      text-align: center;
      margin-bottom: 1.5rem;
    }

    .map-wrapper {
      position: relative;
      text-align: center;
      img {
        width: 100%;
      }
      .project-center {
        height: 100%;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;

        .points {
          font-size: 3.4rem;
          font-weight: bold;
          color: rgba($white, 0.16);
          width: 100px;
          font-weight: 700;
          font-family: "Cerco DEMO";
          transition: all ease-in 0.1s;
          @media screen and (max-width: 767px) {
            font-size: 1rem;
          }

          cursor: pointer;
          &:hover {
            transform: scale(1.1);
          }
          span {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            display: inline-block;
            border-width: 1px;
            border-style: solid;
            cursor: pointer;
          }
          &.point-1 {
            position: absolute;
            bottom: 0;
            left: 45%;
            top: 55%;
            span {
              border-color: #1ffdf5;
            }
            @media screen and (max-width: 767px) {
              left: 35%;
              top: 63%;
            }
          }
          &.point-2 {
            display: flex;
            align-items: center;
            position: absolute;
            left: 56%;
            top: 41%;
            span {
              border-color: #c73c86;
              margin-right: 10px;
            }
            @media screen and (max-width: 767px) {
              left: 56%;
              top: 41%;
            }
          }
          &.point-3 {
            display: flex;
            align-items: center;
            position: absolute;
            left: 34%;
            top: 36%;
            span {
              border-color: #f4c867;
              margin-left: 10px;
            }
            @media screen and (max-width: 767px) {
              left: 32%;
              top: 36%;
            }
          }
          &.point-4 {
            display: flex;
            align-items: center;
            position: absolute;
            left: 79%;
            top: 56%;
            span {
              border-color: #6967f4;
              margin-left: 10px;
            }
            @media screen and (max-width: 767px) {
              left: 76%;
              top: 56%;
            }
          }
          &.point-5 {
            display: flex;
            align-items: center;
            position: absolute;
            left: 13%;
            top: 59%;
            span {
              border-color: #f4f267;
              margin-left: 10px;
            }
          }
          &.point-6 {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            left: 72%;
            top: 46%;
            span {
              border-color: #f49f67;
              margin-left: 10px;
            }
            @media screen and (max-width: 767px) {
              left: 61%;
              top: 44%;
            }
          }
          &.point-7 {
            display: flex;
            align-items: center;
            position: absolute;
            left: 7%;
            top: 23%;
            span {
              border-color: #f47767;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
