
.bottom-left-details {
  display: flex;
  flex-direction: column;
  max-width: 850px;
  position: absolute;
  bottom: 0;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  .numbers {
    font-size: 4.5rem;
    text-align: center;
    padding: 10 2rem 0 0;
    max-width: 98px;
    @media screen and (max-width: 991px) {
      font-size: 2.5rem;
      min-width: 90px;
      max-width: 100px;
    }
    .color-bar {
      width: 100%;
      height: 5px;
      display: block;
      background: linear-gradient(270deg, rgba(54, 255, 243, 0.7) 0%, rgba(35, 0, 251, 0.7) 47.4%, rgba(47, 209, 190, 0.7) 88.54%);
      margin-bottom: 0.5rem;
    }
  }
  .right-content {
    padding-top: 10px;
    padding-left: 44px;
    @media screen and (max-width: 767px) {
      padding-top: 2px;
      padding-left: 10px;
    }
    h4 {
      font-size: 50px;
      text-transform: uppercase;
      margin-bottom: 0.6rem;
      @media screen and (max-width: 991px) {
        font-size: 18px;
      }
    }
    p {
      font-size: 32px;
      font-weight: 300;
      white-space: nowrap;
      @media screen and (max-width: 991px) {
        font-size: 12px;
      }
    }
  }
  &.details1 {
    .numbers {
      .color-bar {
        background: linear-gradient(270deg, rgba(0, 240, 255, 0.7) 0%, rgba(42, 53, 158, 0.7) 33.85%, rgba(86, 245, 255, 0.7) 72.92%, rgba(120, 86, 255, 0.7) 97.92%);
      }
    }
  }
  &.details2 {
    .numbers {
      .color-bar {
        background: linear-gradient(270deg, rgba(0, 255, 25, 0.7) 0%, rgba(44, 158, 42, 0.7) 47.4%, rgba(86, 255, 103, 0.7) 100%);
      }
    }
  }
  &.details3 {
    .numbers {
      .color-bar {
        background: linear-gradient(270deg, rgba(204, 255, 0, 0.7) 0%, rgba(250, 0, 0, 0.7) 47.4%, rgba(255, 122, 0, 0.7) 100%);
      }
    }
  }
  &.details4 {
    .numbers {
      .color-bar {
        background: linear-gradient(270deg, rgba(166, 231, 227, 0.7) 0%, rgba(0, 54, 247, 0.7) 61.46%, rgba(157, 102, 227, 0.7) 98.96%);
      }
    }
  }
  &.details5 {
    .numbers {
      .color-bar {
        background: linear-gradient(270deg, rgba(250, 255, 0, 0.7) 0%, rgba(43, 221, 40, 0.7) 61.46%, rgba(255, 124, 2, 0.7) 100%);
      }
    }
  }
}
.right-numbers {
  position: absolute;
  right: 0;
  bottom: 10%;
  ul {
    padding-left: 0;
    li {
      font-size: 28px;
      display: flex;
      align-items: center;
      position: relative;
      padding: 0.8rem 10rem 0.8rem 1.8rem;
      font-weight: bold;
      // transform: translateX(-118px);
      transition: all ease-in 0.1s;
      cursor: pointer;
      @media screen and (max-width: 767px) {
        font-size: 14px;
        padding: 0.2rem 0.1rem 0.2rem 0.8rem;
      }
      &:hover {
        &:before{
          width: 100%;
        }
      }
      &::before {
        content: " ";
        width: 30px;
        height: 3px;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all ease-in 0.1s;
      }
      span {
        overflow: hidden;
        font-size: 12px;
        font-weight: normal;
        margin-left: 20px;
        margin-right: 20px;
        @media screen and (max-width: 767px) {
          font-size: 8px;
        }
      }
      &:nth-child(1) {
        &::before {
          background: linear-gradient(270deg, rgba(0, 240, 255, 0.7) 0%, rgba(42, 53, 158, 0.7) 33.85%, rgba(86, 245, 255, 0.7) 72.92%, rgba(120, 86, 255, 0.7) 97.92%);
        }
      }
      &:nth-child(2) {
        &::before {
          background: linear-gradient(270deg, rgba(0, 255, 25, 0.7) 0%, rgba(44, 158, 42, 0.7) 47.4%, rgba(86, 255, 103, 0.7) 100%);
        }
      }
      &:nth-child(3) {
        &::before {
          background: linear-gradient(270deg, rgba(204, 255, 0, 0.7) 0%, rgba(250, 0, 0, 0.7) 47.4%, rgba(255, 122, 0, 0.7) 100%);
        }
      }
      &:nth-child(4) {
        &::before {
          background: linear-gradient(270deg, rgba(166, 231, 227, 0.7) 0%, rgba(0, 54, 247, 0.7) 61.46%, rgba(157, 102, 227, 0.7) 98.96%);
        }
      }
      &:nth-child(5) {
        &::before {
          background: linear-gradient(270deg, rgba(250, 255, 0, 0.7) 0%, rgba(43, 221, 40, 0.7) 61.46%, rgba(255, 124, 2, 0.7) 100%);
        }
      }
      &.selected {
        // transform: translateX(0);
        &::before {
          width: 100%;
        }
      }
    }
  }
}