.bussiness-model-wrapper {
  position: relative;
  width: 150px;
  height: 150px;
  .bussiness-model {
    position: absolute;
    width: 30px !important;
    height: 30px !important;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
  }
  .bussiness-desc {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .clock:hover{
  }
}
