.selector-wrapper {
  display: flex;
  gap: 50px;
  margin-top: 40px;
  @media screen and (max-width: 576px) {
    flex-direction: column;
    gap: 30px;
  }
  input{
    display: none;
  }
}
