.selector-wrapper {
  display: flex;
  gap: 50px;
  margin-top: 40px;
  @media screen and (max-width: 576px) {
    flex-direction: column;
    gap: 30px;
  }
  .selector {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
    width: 100%;

    @media screen and (max-width: 576px) {
      font-size: 12px;
    }

    .drop-down-chain {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 56px;
      background: transparent;
      border: 1px solid #FFFFFF1A;
      margin-top: 15px;
      padding-left: 37px;
      padding-right: 37px;
      font-size: 15px;
      font-weight: 400;
      @media screen and (max-width: 576px) {
        font-size: 12px;
        margin-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .drop-down-token {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 56px;
      background: #911557;
      margin-top: 15px;
      padding-left: 37px;
      padding-right: 37px;
      font-size: 15px;
      font-weight: 400;
      @media screen and (max-width: 576px) {
        font-size: 12px;
        margin-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

.ant-dropdown-menu {
  background-color: #460E3D !important;
}

.ant-dropdown-menu-title-content{
  color: white !important;

}