.invest-step4-body0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .congrat-wrapper {
    margin-top: 75px;
    img {
      display: none;
    }
    & > span {
      font-size: 48px;
      color: #BE1E73;
      @media screen and (max-width: 576px) {
        font-size: 36px;
      }
    }
  }
  & > span {
    &:nth-child(2) {
      margin-top: 17px;
      font-size: 36px;
      color: #FFFFFF80;
      @media screen and (max-width: 576px) {
        font-size: 27px;
        text-align: center;
      }
    }
    &:nth-child(3) {
      margin-top: 54px;
      font-size: 26px;
      color: #FFFFFF80;
      @media screen and (max-width: 576px) {
        font-size: 20px;
        text-align: center;
      }
    }
    &:nth-child(4) {
      margin-top: 97px;
      font-size: 24px;
      color: #BE1E73;
      @media screen and (max-width: 576px) {
        font-size: 20px;
      }
    }
  }
  .grid-wrapper{
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    margin-top: 20px;
    grid-template-rows: 60px;
    font-size: 16px;
    @media screen and (max-width: 576px) {
      font-size: 12px;
      text-align: center;
    }

    .grid-header {
      display: flex;
      align-items: center;
      background: #FFFFFF80;
      padding: 10px 30px;
      justify-content: center;
      height: 40px;
      @media screen and (max-width: 576px) {
        padding: 2px;
      }
    }
    .grid-data {
      display: flex;
      align-items: center;
      background: #160720;
      padding: 10px 30px;
      justify-content: center;
      height: 40px;
      @media screen and (max-width: 576px) {
        padding: 2px;
      }
    }
    .download{
      color: #BE1E73;
      cursor: pointer;
    }
  }
}
