.invest-step4-body0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .congrat-wrapper {
    margin-top: 42px;
    img {
      display: none;
    }
    & > span {
      font-size: 48px;
      font-weight: 700;
      line-height: 59px;
      color: #be1e73;
      @media screen and (max-width: 576px) {
        font-size: 36px;
      }
    }
  }
  & > span {
    &:nth-child(2) {
      font-size: 32px;
      font-weight: 400;
      color: #ffffff80;
      @media screen and (max-width: 576px) {
        font-size: 27px;
        text-align: center;
      }
    }
    &:nth-child(3) {
      margin-top: 28px;
      font-size: 26px;
      color: #ffffff80;
      @media screen and (max-width: 576px) {
        font-size: 20px;
        text-align: center;
      }
    }
    &:nth-child(4) {
      margin-top: 31px;
      font-size: 24px;
      font-weight: 700;
      color: #be1e73;
      @media screen and (max-width: 576px) {
        font-size: 20px;
      }
    }
  }
  .grid-wrapper {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    margin-top: 22px;
    grid-template-rows: 57px;

    @media screen and (max-width: 576px) {
      text-align: center;
    }

    .grid-header {
      display: flex;
      align-items: center;
      background: #ffffff80;
      padding: 10px 30px;
      justify-content: center;
      height: 57px;
      font-size: 18px;
      font-weight: 700;
      color: #160720;

      @media screen and (max-width: 576px) {
        font-size: 12px;
        padding: 2px;
      }
    }
    .grid-data {
      display: flex;
      align-items: center;
      background: #160720;
      padding: 10px 30px;
      justify-content: center;
      height: 57px;
      font-size: 20px;
      font-weight: 700;

      @media screen and (max-width: 576px) {
        font-size: 12px;
        padding: 2px;
      }
    }
    .download {
      color: #be1e73;
      cursor: pointer;
    }
  }
  .span-auto {
    margin-top: 51px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    @media screen and (max-width: 576px) {
      font-size: 15px;
    }
  }
  .span-download {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff80;
    span {
      color: #be1e73;
    }
    @media screen and (max-width: 576px) {
      font-size: 15px;
    }
  }    
  .steps-action {
    justify-content: flex-end !important;
  }}
